.header a.active {
  color: var(--color-main);
}

.header .index {
  background-image: none;
}

.header .not-index {
  background-image: url("/src/assets/images/banner-header.webp");
  background-position: center bottom;
  background-size: cover;
  background-attachment: initial;
}
