.products a.active {
  color: var(--color-main);
  font-weight: 500;
}

.product-detail .product-images {
  --width-carousel-image: 27rem;
  --height-carousel-image: 27rem;
}

.product-detail .product-images .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-detail .product-images .mySwiper2 .swiper-button-prev,
.product-detail .product-images .mySwiper2 .swiper-button-next {
  visibility: hidden;
  opacity: 0;
  transition: 300ms ease;
}

.product-detail
  .product-images
  .mySwiper2:has(.swiper-slide:hover)
  .swiper-button-prev,
.product-detail
  .product-images
  .mySwiper2:has(.swiper-slide:hover)
  .swiper-button-next,
.product-detail .product-images .mySwiper2 .swiper-button-prev:hover,
.product-detail .product-images .mySwiper2 .swiper-button-next:hover {
  visibility: visible;
  opacity: 1;
}

.product-detail .product-images .mySwiper2 {
  height: 100%;
  width: 84%;
}

.product-detail .product-images .mySwiper {
  width: 16%;
  height: var(--height-carousel-image);
  box-sizing: border-box;
}

.product-detail .product-images .mySwiper .swiper-slide {
  opacity: 0.6;
}

.product-detail .product-images .mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}
