@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("./assets/css/reset.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-main: "Montserrat", sans-serif;
    --color-main: #f29f33;
    --color-primary: #f89719;
    --color-secondary: #5d2828;
    --color-app-bg: #f7f7f7;
  }
}
